@media(max-width: 992px) {
    .bookInfor {
        .bookInfor__inner {
            .bookInfor__items {
                flex-direction: column;
                justify-content: start;

                .bookInfor__data {
                    font-size: 16px;
                    p {
                        font-size: 16px;
                    }
                }
            }

        }
    }
}