@media(max-width: 576px){
    .header {
        .header__inner {
            .header__btn {
                height: fit-content;
                background-color: #FFF;
                text-decoration: underline;
                color: #287F9A;
                width: fit-content;
            }
        }
    }
}