.bookInfor.d-flex.align-items-center.d-none
    .container
        .bookInfor__inner.col-lg-9
            h2.bookInfor__title.name.col-lg-9 
            p.bookInfor__author.author 
            .bookInfor__items
                .d-flex.flex-column
                    .bookInfor__data Издательство:
                        p.publishHouse 
                    .bookInfor__data Язык оригинала:
                        p.originalLanguage
                    .bookInfor__data Год издания:
                        p.publishYear
                .d-flex.flex-column
                    .bookInfor__data Кол-во страниц:
                        p.pagesNumber
                    .bookInfor__data Жанры:
                        p.genres
            .bookInfor__btns.d-flex.justify-content-center.align-items-center
                button.open-editPage-btn(type="submit") Редактировать
                input.favorite.bookInfor__fav.d-none(type="checkbox" id="fav")                
                label.favorite-label.bookInfor__fav-label(for="fav")
                img.bookInfor__cart(src="./assets/img/cart.svg")