.bookInfor.d-flex.align-items-center.d-none
    .container
        .bookInfor__inner.col-9
            h2.bookInfor__title.name.col-9 Гарри Поттер и  Философский камень
            p.bookInfor__author.author Джоан Роулинг
            .d-flex.justify-content-between
                .d-flex.flex-column
                    .bookInfor__data Издательство:
                        p.publishHouse
                    .bookInfor__data Язык оригинала:
                        p.originalLanguage
                    .bookInfor__data Год издания:
                        p.publishYear
                .d-flex.flex-column
                    .bookInfor__data Кол-во страниц:
                        p.pagesNumber
                    .bookInfor__data Жанры:
                        p.genres
            .bookInfor__btns.d-flex.justify-content-center.align-items-center