.clarifyAction.d-flex.align-items-center.d-none
    .container
        .clarifyAction__inner.text-align-center
            p.clarifyAction__title Вы точно хотите удалить?
            .d-flex.justify-content-between 
                button.yes YES
                button.no No

            