header.header
    .container 
        .header__inner.d-flex.align-items-center
            .d-flex.align-items-center
                svg(width='32', height='32', viewbox='0 0 32 32', fill='none', xmlns='http://www.w3.org/2000/svg')
                    circle(cx='16', cy='16', r='16', fill='#427AA3')
                p.user-name Bakai
            button.header__btn Выход
