.authorization.d-flex.align-items-center.d-none
    .container
        .authorization__inner.col-5.text-align-center
            p.authorization__title войти
            form.authorization__form.d-flex.flex-column(onsubmit='return false')
                input.authorization__name(type="text" placeholder="Имя пользователя" name="username")
                p.errors.warning-username-error
                input.authorization__password(type="password" placeholder="Пароль" name="password")
                p.errors.warning-password-error
                .additionally__inputs.d-none
                    input.authorization__password(type="password" placeholder="Повторите пароль" name="repeatPassword")
                    p.errors.warning-repeatPassword-error
                    p.authorization__subtitle Дополнительные поля
                    input.authorization__first-name(type="text" placeholder="first name" name="firstName")
                    input.authorization__age(type="text" placeholder="age" name="age")
                p.errors.warning-usersData-error
                button.checkIn-btn(type="submit") Войти
                p.authorization__toggle регистрация



