extends ../sample.pug
block content
    include ../includes/modalPage.pug
    include ../includes/header.pug
    include ../includes/createBook.pug
    include ../includes/bookInformation.pug
    include ../includes/editBook.pug
    include ../includes/clarifyAction.pug
    .library
        .container
            .library__inner
                h1.library__title Список Книг
                .library__books.d-flex.justify-content-between.flex-wrap
                button.creat-books-btn Добавить книгу
        .loader.d-none
            .loader__inner